@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

h1, h2, h3, h4, h5, h6, .memoi {
  font-family: 'DM Serif Display', serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.shaded {
  box-shadow: 2px 2px 0 #124653;
}
.big-shade:focus {
  box-shadow: 4px 4px 0 #124653;
}
.green-shaded {
  box-shadow: 2px 2px 0 #00a08f;
}
.big-green:focus {
  box-shadow: 4px 4px 0 #00a08f;
}
.pink-shade {
  box-shadow: 2px 2px 0 #c995a2;
}
.big-pink:focus {
  box-shadow: 4px 4px 0 #c995a2;
}
button:hover,
button:focus,
button:active {
  margin-top: 0.125em;
  margin-bottom: 0;
  box-shadow: none;
}
.clickable {
  cursor: pointer;
}
button.link {
  margin-top: 0;
  cursor: pointer;
  display: block;
}

input:user-invalid {
  box-shadow: 2px 2px 0 #124653;
}

html {
  scroll-behavior: smooth;
}